duckdb
faiss-cpu
fastapi
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langserve
matplotlib
numpy
openai
oss2
pandas
pypdf
python-dotenv
scikit-learn
streamlit
uvicorn
torch
